@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: poppins;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
  
footer {
margin-top: auto;
}